<div class="subnavbar-container">
  <div class="left-section">
    <button mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="board-title">my board</span>
    <mat-icon>star</mat-icon>
    <mat-icon>group</mat-icon>
  </div>

  <div class="middle-section">
    <button mat-button class="board-view-button">
      <mat-icon>dashboard</mat-icon>
      <span>Board</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>

  <div class="right-section">
    <mat-icon>filter_list</mat-icon>
    <span>Filters</span>

    <button mat-button>
      <mat-icon>account_circle</mat-icon>
      <span class="user-initials">D</span>
    </button>

    <button mat-button class="share-button">
      <mat-icon>person_add</mat-icon>
      <span>Share</span>
    </button>

    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>
