<div class="navbar-container">
  <div class="navbar-title">Trello</div>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a [matMenuTriggerFor]="workspacesMenu" class="nav-link">
        Workspaces
        <mat-icon>expand_more</mat-icon>
      </a>
      <mat-menu #workspacesMenu="matMenu">
        <span class="nav-dropdown-text-color"><p style="font-size: small; padding-left: 8px;">Current Workspace</p></span>
        <button class="nav-dropdown-text-color" mat-menu-item routerLink="/project1" disabled>Trello Workspace</button>
        <hr>
        <span class class="nav-dropdown-text-color"><p style="font-size: small; padding-left: 8px;">Your Workspace</p></span>
        <button class="nav-dropdown-text-color" mat-menu-item routerLink="/project2">Trello Workspace</button>
      </mat-menu>
    </li>

    <li class="nav-item">
      <a [matMenuTriggerFor]="recentMenu" class="nav-link">
        Recent
        <mat-icon>expand_more</mat-icon>
      </a>
      <mat-menu #recentMenu="matMenu">
        <button class="nav-dropdown-text-color" mat-menu-item routerLink="/project1">Board 1</button>
        <button class="nav-dropdown-text-color" mat-menu-item routerLink="/project2">Board 2</button>
        <button class="nav-dropdown-text-color" mat-menu-item routerLink="/project3">Board 3</button>
      </mat-menu>
    </li>

    <li class="nav-item">
      <a [matMenuTriggerFor]="starredMenu" class="nav-link">
        Starred
        <mat-icon>expand_more</mat-icon>
      </a>
      <mat-menu #starredMenu="matMenu">
        <button class="nav-dropdown-text-color" mat-menu-item routerLink="/project1">Board 1</button>
        <button class="nav-dropdown-text-color" mat-menu-item routerLink="/project2">Board 2</button>
        <button class="nav-dropdown-text-color" mat-menu-item routerLink="/project3">Board 3</button>
      </mat-menu>
    </li>

    <li class="nav-item">
      <a [matMenuTriggerFor]="MoreMenu" class="nav-link">
        More
        <mat-icon>expand_more</mat-icon>
      </a>
      <mat-menu #MoreMenu="matMenu">
        <button class="nav-dropdown-text-color" mat-menu-item routerLink="/project1">Board 1</button>
        <button class="nav-dropdown-text-color" mat-menu-item routerLink="/project2">Board 2</button>
        <button class="nav-dropdown-text-color" mat-menu-item routerLink="/project3">Board 3</button>
      </mat-menu>
    </li>
  </ul>

  <span>
    <mat-menu #menu="matMenu" class="create-dropdown">
      <button mat-menu-item class="menu-item">
        <div class="menu-text">
          <mat-list-item class="font-style">
            <div>
              <mat-icon class="dropdown-mat-icon">space_dashboard</mat-icon>
              Create board
            </div>
            <p class="dropdown-body-text">A board is made up of cards ordered on lists. Use it to manage projects, track
              information, or organize
              anything.</p>

          </mat-list-item>
        </div>
      </button>

      <mat-divider></mat-divider>

      <button mat-menu-item class="menu-item">
        <div class="menu-text">
          <mat-list-item class="font-style">
            <div>
              <mat-icon class="dropdown-mat-icon">space_dashboard</mat-icon>
              Create workspace view
            </div>
            <p class="dropdown-body-text">
              Get perspective across multiple boards within your workspace.
            </p>
          </mat-list-item>
        </div>
      </button>

      <mat-divider></mat-divider>

      <button mat-menu-item class="menu-item">
        <div class="menu-text">
          <div>
            <mat-icon class="dropdown-mat-icon">space_dashboard</mat-icon>
            Start
          </div>
          <mat-list-item class="font-style">
            <p class="dropdown-body-text">
              Get started faster with a board template.
            </p>
          </mat-list-item>
        </div>
      </button>
    </mat-menu>

  </span>

  <button class="create-add-dropdown" [matMenuTriggerFor]="menu" aria-label="Add">
    <mat-icon>add</mat-icon>
  </button>
</div>
