::ng-deep .mat-mdc-menu-content {
  /* padding: 0 !important; */
  background-color: #28242c;
}

::ng-deep .mat-mdc-menu-item:hover {
  background-color: #383c44 !important;

}


.mat-mdc-button:not(:disabled) {
  color: #B6C2CF;
}

.navbar-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 10% 20% 20% 10% 30%;
  justify-content: center;
  align-self: center;

  min-height: 48px;
  max-height: 48px;
  background-color: #28242c;
  color: #B6C2CF;
  padding-top: 2px;
  padding-bottom: 2px;

}

.navbar-title {
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  margin-right: 30px;
  margin-top: 7px;
}


.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 15px;
}

.nav-link {
  color: #B6C2CF;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}

.nav-link mat-icon {
  margin-left: 0px;
}



.nav-dropdown-text-color {
  color: #B6C2CF;
}

.nav-link:hover {
  background-color: #28242c;
}

.search-bar {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* add dropdown link */

.mat-divider {
  background-color: #28242c;
  height: 1px;
}

.menu-item {
  padding: 10px;
  /* width: max-content; */
  background-color: #28242c;
}

.dropdown-body-text {
  font-size: small;
  font-weight: 100;
}

.menu-text {
  color: #B6C2CF;
  margin: 0;
  padding: 0;
}


.font-style {
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-content: center;
  /* align-items: flex-start; */
  color: #B6C2CF;
}


.menu-text span {
  font-weight: bold;
}

.color {
  background-color: black;
  color: green;
}



.create-add-dropdown {
  background-color: dodgerblue;
  border-radius: 6px;
  height: 42px;
  width: 32px;
  margin-left: 5px;
}

.mat-mdc-menu-content {
  margin: 0;
  padding: 0 0;
  list-style-type: none;
}

