.sidenav-container {
  height: 100vh;
}

.sidenav {
  background-color: #28242c;
  color: #ecf0f1;
  width: 250px;
  transition: width 0.3s ease-in-out;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.sidenav.collapsed {
  width: 50px;
}

.mat-sidenav-content {
  transition: margin-left 0.3s ease-in-out;
}

.mat-sidenav-content.collapsed {
  margin-left: 50px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 16px;
  font-size: 20px;
}

.sidebar-header mat-icon {
  margin-right: 8px;
}

mat-nav-list {
  padding: 0;
}

mat-list-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
}

mat-list-item mat-icon {
  margin-right: 8px;
}

.board-item {
  padding-left: 40px;
}

.expand-icon {
  margin-left: auto;
}

mat-list-item {
  color: #bdc3c7;
}

mat-icon {
  color: #bdc3c7;
}

.expand-icon {
  color: #bdc3c7;
}

.board-item {
  color: #bdc3c7;
}

.board-item mat-icon {
  color: #bdc3c7;
}

.text-color {
  color: #bdc3c7;
}

.sidebar-footer {
  padding: 16px;
  font-size: 12px;
  color: #bdc3c7;
}
