<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidebar-header">
      <mat-icon>dashboard</mat-icon>
      <span>Trello Workspace</span>
    </div>

    <mat-nav-list>
      <mat-list-item>
        <mat-icon>dashboard</mat-icon>
        <span class="text-color">Boards</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>group</mat-icon>
        <span class="text-color">Members</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>settings</mat-icon>
        <span class="text-color">Workspace settings</span>
        <mat-icon class="expand-icon">expand_more</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <span class="text-color">Workspace views</span>
        <mat-icon class="expand-icon">expand_more</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <span class="text-color">Your boards</span>
        <mat-icon class="expand-icon">add</mat-icon>
      </mat-list-item>
      <mat-list-item class="board-item">
        <span class="text-color">my board</span>
        <mat-icon>star</mat-icon>
      </mat-list-item>
      <mat-list-item class="board-item">
        <span class="text-color">abc board</span>
        <mat-icon>star_border</mat-icon>
      </mat-list-item>
    </mat-nav-list>

    <div class="sidebar-footer">
      <p>6 days remaining in your Premium free trial. Go to billing page</p>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

  </mat-sidenav-content>
</mat-sidenav-container>
