<div>
  <span class="dialog-header" mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    <span fxFlex="start">{{ cardListItemText }}
      <div class="cardListTitle">
        <span>
          in list {{ cardListTitle }}
          <mat-icon *ngIf="visibility" class="header-visibility-icon">visibility</mat-icon>
        </span>
      </div>
    </span>
    <button mat-icon-button (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
  </span>
  <mat-dialog-content style="background-color: #323940;" fxLayout="row" fxLayoutAlign="start stretch"
    fxLayoutGap="16px">
    <!-- 70% Container -->
    <div fxFlex="100" class="input-container">
      <div>
        <p style="font-size: small; padding-top: 10px;">
          Labels
        </p>
        <span class="color-labels" *ngFor="let colorLabel of labels">
          <button (click)="handleLabels()" [style.background]="colorLabel.color" mat-button>
            {{ colorLabel.title }}
          </button>
        </span>

        <button mat-button (click)="handleLabels()">
        <mat-icon>add</mat-icon>
        </button>

        <span>
          <p style="font-size: small; padding-top: 10px;">
            Notifications
          </p>
          <button mat-flat-button (click)="toggleVisibility()">
            <mat-icon>visibility</mat-icon>
            {{ visibility ? 'Watching' : 'Watch' }}
            <mat-icon *ngIf="visibility" class="tick-icon">check</mat-icon>
          </button>
        </span>
      </div>

      <!-- <mat-form-field class="full-width">
        <input matInput placeholder="Description" [(ngModel)]="description">
      </mat-form-field> -->
      <span>
        <mat-icon>description</mat-icon>
        Description
      </span>
      <!-- <div>
        <quill-editor class="description-editor-container" [(ngModel)]="description" [modules]="quillConfig"
          placeholder="Write your description here..."></quill-editor>
      </div> -->
      <div class="description-card">
        <form [formGroup]="descFormGroup">
          <p-editor formControlName="text" [style]="{ height: '200px' }"></p-editor>
        </form>
      </div>

      <div fxFlex="100" fxLayoutGap="50" class="custom-fields">
        <p-dropdown [options]="priorities" placeholder="Priority"></p-dropdown>
        <!-- <p-checkbox label="new city"></p-checkbox> -->
        <p-dropdown [options]="statuses" placeholder="Status"></p-dropdown>
        <p-dropdown [options]="risks" placeholder="Risk"></p-dropdown>
      </div>

      <!-- <mat-form-field class="full-width">
        <textarea matInput placeholder="Activity"></textarea>
      </mat-form-field> -->
      <span>
        <mat-icon>event</mat-icon>
        Activity
      </span>
      <div class="activity-card">
        <form [formGroup]="activityFormGroup">
          <p-editor formControlName="text" [style]="{ height: '100px' }"></p-editor>
        </form>
      </div>


    </div>

    <!-- 30% Container -->
    <div fxFlex="20" class="button-column">
      <!-- <span>add to card</span> -->
      <button (click)="onButtonClick(button)" class="transparent-button" *ngFor="let button of addToCardButtons"
        mat-button>{{button}}</button>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <button (click)="onActionClick(actionButton)" class="transparent-button" *ngFor="let actionButton of useActions" mat-button>{{actionButton}}</button>
    </div>
  </mat-dialog-content>

</div>
