.full-width {
  width: 100%;
}

.color-preview {
  box-sizing: content-box;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: #000000;
  text-align: center;
}

.create-label-dialog-header {

  display: flex;

}


