.full-width {
  width: 100%;
}

.color-test-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 15px 12px 15px;
}

.color-picker-container {
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
}

.image-picker-container {
  margin-bottom: 10px;
  display: flex;
  gap: 3px;
}

.color-buttons,
.more-color-button {
  width: 40px;
  height: 30px;
  border-radius: 4px;
  border: none;
}

.image-buttons {
  width: 64px;
  height: 40px;
  border-radius: 4px;
  border: none;
}

.more-color-button {
  color: #ccc;
  background-color: #3b3740;
}

.more-color-button:hover {
  background-color: #76707c;
}

.rgb-1 {
  background-color: rgb(176, 70, 50);
  ;
}

.rgb-2 {
  background-color: rgb(11, 80, 175);
  ;
}

.rgb-3 {
  background-color: rgb(103, 66, 132);
  ;
}

.rgb-4 {
  background-color: rgb(168, 105, 193);
  ;
}

.rgb-5 {
  background-color: rgb(239, 118, 58);
}

/* .bg-6 {
  background-color: blue;
} */


.apply-color-button {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.footer-note {
  font-size: 12px;
  color: gray;
  margin-top: 10px;
}

::ng-deep .board-dialog {
  display: grid;

  background-color: #2c2f33;
  color: #B6C2CF;
}

.board-header {
  background-color: #2c2f33;
  color: #B6C2CF;
  font-size: small;
}

.board-footer {
  background-color: #2c2f33;
  color: white;
}

::ng-deep .mat-dialog-title {
  color: #ffffff;
  /* Customize title color */
}

::ng-deep .mat-dialog-content {
  background-color: #2c2f33;
  /* Customize content background */
  color: #ccc;
  /* Content text color */
}

::ng-deep .mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

::ng-deep .mat-error {
  color: #ffcc00;
  /* Customize error color */
}

.create-button {
  width: 100%;
  background-color: #589cfc;
  color: #fff;
  padding: 10px;

}
