.full-width {
  width: 100%;
}

.footer-note {
  font-size: 12px;
  color: gray;
  margin-top: 10px;
}

::ng-deep .board-dialog {
  background-color: #2c2f33;
  color: white;
}

.board-header {
  background-color: #2c2f33;
  color: white;
}

.board-footer {
  background-color: #2c2f33;
  color: white;
}

::ng-deep .mat-dialog-title {
  color: #ffffff; /* Customize title color */
}

::ng-deep .mat-dialog-content {
  background-color: #2c2f33; /* Customize content background */
  color: #ccc; /* Content text color */
}

::ng-deep .mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

::ng-deep .mat-error {
  color: #ffcc00; /* Customize error color */
}
