
<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <!-- <input [formControl]="cardListTitle" placeholder="{{ card.card_list_title }}" /> -->
      <input [value]="card.card_list_title" [formControl]="cardListTitle" (input)="updateTitle(cardListTitle.value!)" />
    </mat-card-title>
    <button mat-icon-button>
      <mat-icon>matCompress</mat-icon>
    </button>
    <span class="more-button">
      <button mat-icon-button>
        <mat-icon>more_horiz</mat-icon>
      </button>
    </span>

  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content cdkDropList [cdkDropListData]="cardTextsArray" (cdkDropListDropped)="dropText($event)">
    <div cdkDrag *ngFor="let text of cardTextsArray; let i = index" class="card-content">
      <div (click)="openDialog(text)" class="card-text">{{text}}
        <span class="edit-button-container">
          <button class="custom-edit-button" (click)="editCard(i)">
            <mat-icon class="edit-icon">edit</mat-icon>
          </button>
        </span>
      </div>
    </div>
  </mat-card-content>

  <div class="add-text-field-container">
    <mat-form-field style="background-color: #28242c;" *ngIf="isAddingCard" appearance="outline" class="full-width">
      <mat-label style="color: white;">Enter a name for this card</mat-label>
      <textarea matInput [(ngModel)]="newCardText" rows="1"></textarea>
    </mat-form-field>
  </div>



  <mat-card-footer class="example-card-footer">
    <!-- Toggle input field visibility -->
    <div class="add-card-container">
      <button mat-button *ngIf="!isAddingCard" (click)="toggleAddCard()" class="add-user-button">
        <mat-icon>add</mat-icon>
        Add a card
      </button>
    </div>


    <!-- Display Save and Cancel buttons when input is visible -->
    <div *ngIf="isAddingCard">
      <button mat-button (click)="addCard()" color="primary">
        <mat-icon>add</mat-icon>
        Add card</button>
      <button mat-button (click)="cancelAddCard()" color="warn">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
    </div>
  </mat-card-footer>
</mat-card>
