<app-navbar></app-navbar>
<span>
<app-subnav></app-subnav>
</span>

<!-- <app-sidebar></app-sidebar> -->


<div style="box-sizing: border-box;">
  <img class="background-image" src="../../assets/sunset.jpg" alt="NoImageFound" />
</div>

<span>
  <h1 style="color: white;">My Board</h1>
</span>

<div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="12px">
  <ng-container *ngFor="let card of cards; let i = index">
    <board-card (cardUpdate)="onCardUpdate(i, $event)">
    </board-card>
  </ng-container>

  <div class="add-list-container" fxFlex="0 1 calc(33.333% - 16px)">
    <button mat-button *ngIf="!isAddingCard;" (click)="pushCard()" class="add-list-button">
      <mat-icon>add</mat-icon>
      {{ cards.length === 0 ? 'Add a list' : 'Add another list' }}
    </button>
  </div>
</div>
