.copy-dialog-header {
  background-color: #323940;
  color: #B6C2CF;
  font-size: medium;
}

.copy-dialog {
  background-color:#323940;

}

.font-style {
  font-size: small;
  font-weight: 100;
  color: #B6C2CF;
}
